<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6">Actualizar Registro Propietario</h2>
    <form [formGroup]="form" (ngSubmit)="sendForm()">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="nombreDueño">Nombre del Dueño</label>
          <input formControlName="nombreDueño" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nombreDueño" type="text" placeholder="Ingrese el nombre del dueño">
          <div *ngIf="form.get('nombreDueño')?.hasError('required')" class="text-red-700 mt-1">
            El nombre del dueño es requerido
          </div>
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="apellidoDueño">Apellido del Dueño</label>
          <input formControlName="apellidoDueño" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="apellidoDueño" type="text" placeholder="Ingrese el apellido del dueño">
          <div *ngIf="form.get('apellidoDueño')?.hasError('required')" class="text-red-700 mt-1">
            El apellido es requerido
          </div>
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="telefono">Teléfono</label>
          <input formControlName="telefono" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="telefono" type="text" placeholder="Ingrese el teléfono">
          <div *ngIf="form.get('telefono')?.hasError('required')" class="text-red-700 mt-1">
            El teléfono es requerido
          </div>
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="num_identificacion">Número de Identificación</label>
          <input formControlName="num_identificacion" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="num_identificacion" type="text" placeholder="Ingrese el número de identificación">
          <div *ngIf="form.get('num_identificacion')?.hasError('required')" class="text-red-700 mt-1">
            El número de identificación es requerido
          </div>
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="idIdentificacion">Tipo de Identificación</label>
          <select formControlName="idIdentificacion" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="idIdentificacion">
            <option value="">Seleccione el tipo de identificación</option>
            <option *ngFor="let tipo of tipoident" [value]="tipo.idIdentificacion">{{ tipo.tipo }}</option>
          </select>
          <div *ngIf="form.get('idIdentificacion')?.hasError('required')" class="text-red-700 mt-1">
            El tipo de identificación es requerido
          </div>
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="idUbicacion">Ubicación</label>
          <select formControlName="idUbicacion" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="idUbicacion">
            <option value="">Seleccione la ubicación</option>
            <option *ngFor="let ubica of ubicacion" [value]="ubica.idUbicacion">{{ ubica.ciudad +'-'+ ubica.direccion }}</option>
          </select>
          <div *ngIf="form.get('idUbicacion')?.hasError('required')" class="text-red-700 mt-1">
            La ubicación es requerida
          </div>
        </div>
      </div>
  
      <div class="flex items-center justify-end p-2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Guardar
        </button>
        <button (click)="cancelar()" class="bg-red-800 hover:bg-red-500 ml-2 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  