<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
  <h2 class="text-2xl font-semibold text-gray-800 mb-6">Registrar Mascota</h2>
  <form [formGroup]="form" (ngSubmit)="sendForm()">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">Nombre Mascota</label>
        <input formControlName="nombre" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nombre" type="text" placeholder="Ingrese el nombre de la mascota">
        <div *ngIf="form.get('nombre')?.hasError('required')" class="text-red-700 mt-1">
          El nombre es requerido
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="raza">Raza</label>
        <input formControlName="raza" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="raza" type="text" placeholder="Ingrese la raza">
        <div *ngIf="form.get('raza')?.hasError('required')" class="text-red-700 mt-1">
          La raza es requerida
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="especie">Especie</label>
        <input formControlName="especie" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="especie" type="text" placeholder="Ingrese la especie">
        <div *ngIf="form.get('especie')?.hasError('required')" class="text-red-700 mt-1">
          La especie es requerida
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="fnac_mascota">Fecha Nacimiento</label>
        <input formControlName="fnac_mascota" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="fnac_mascota" type="date" placeholder="Ingrese la fecha de nacimiento">
        <div *ngIf="form.get('fnac_mascota')?.hasError('required')" class="text-red-700 mt-1">
          La fecha de nacimiento es requerida
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="id_Dueño">Dueño</label>
        <select formControlName="id_Dueño" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id_Dueño">
          <option value="">Seleccione el propietario</option>
          <option *ngFor="let item of puntos" [value]="item['id_Dueño']">{{item['nombreDueño']+ '-' +item['apellidoDueño']}}</option>
        </select>
        <div *ngIf="form.get('id_Dueño')?.hasError('required')" class="text-red-700 mt-1">
          El dueño es requerido
        </div>
      </div>


      <div class="mb-4">
        <div class="bg-white shadow-lg rounded-lg border border-gray-200">
            <div class="bg-green-700 text-white rounded-t-lg p-4">
                <h4 class="text-lg font-semibold">Subir Archivo</h4>
            </div>
            <div class="p-4">
                <div class="flex flex-col items-center">
                    <div *ngIf="adjunto !== {}" class="w-full text-center">
                        <div *ngIf="adjunto.ext === 'xlsx' || adjunto.ext === 'xls'" class="flex justify-center mb-4">
                            <a [href]="fileUrl" [download]="adjunto.nombre" class="flex items-center">
                                <img src="https://apen.es/wp-content/uploads/2020/11/logo-microsoft-excel.jpg" width="80px" height="100px"  class="bg-gray-200 p-2 rounded"/>
                            </a>
                        </div>
                        <p class="font-semibold text-gray-800">{{adjunto.nombre}}</p>
                    </div>
                    <div class="flex space-x-4">
                        <button
                            mat-raised-button
                            class="bg-green-700 text-white rounded-lg shadow-lg py-2 px-4 flex items-center hover:bg-green-800 transition duration-200"
                            (click)="handleUploadDocumentClick()"
                        >
                            Documento
                        </button>
                        <button
                            [ngClass]="{ 'hidden': btnDocument }"
                            mat-raised-button
                            class="bg-rose-700 text-white rounded-lg shadow-lg py-2 px-4 flex items-center hover:bg-rose-800 transition duration-200"
                            (click)="cleanFile()"
                        >
                            Eliminar
                        </button>
                        <input
                            type="file"
                            #documentUpload
                            accept=".xlsx,.xls"
                            class="hidden"
                            (change)="onFileSelected($event)"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div [ngClass]="{ 'hidden': !btnDocument }" class="flex items-center justify-end p-2">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Guardar
      </button>
      <button (click)="cancelar()" class="bg-red-800 hover:bg-red-500 ml-2 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Cancelar
      </button>
    </div>
    <div>
      <button (click)="sendExcel()" [ngClass]="{ 'hidden': btnDocument }" class="bg-green-700 hover:bg-green-950 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" >
        Enviar archivo
      </button>
    </div>
  </form>
</div>
